@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 24px;
    font-family:  var(--font-primary);
}

.roleText {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 52px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.role {
    display: flex;
    align-items: center;
}

.divider {
    align-items: center;
    display: flex;
    padding: 0px 24px;
}

.buttonSocial:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-out;
}

.cvBtn:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-out;
}


@media screen and (max-width: 865px) {
    .container {
        flex-direction: column-reverse;
        margin-left: 5%;
        margin-right: 5%;
    }

    .content {
        align-items: center;
    }

    .title {
        font-size: 56px;
        font-weight: 900;
        margin-top: 56px;
        margin-left: 10%;
        font-family:  var(--font-primary);
    }

    .roleText {
        position: relative;
        display: inline-block;
        justify-content: center;
        margin-left: 10%;
    }

    .divider {
        display: none;
    }
}
