:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #11151C;
    --color-secondary: #212D40;
    --color-light: #FCFAF9;
    --color-text-light: #292f36;

    /* Fonts */
    --font-primary: 'Fira Code'
}